header {
  text-align: center;
  width: 100%;
  border-radius: 0 0 5% 5%;
  overflow: hidden;
  height: 300px;
}
.overlay {
  width: 100%;
  height: 100%;
  padding: 50px;
  color: #fff;
  background-image: linear-gradient(#9f05ff69 20%, #fd5e086b 90%);
  color: black;
  border-bottom: solid;
}

button {
  border: none;
  border-radius: 50px;
  color: #333;
  background: #fff;
  margin-bottom: 50px;
  margin-top: 20px;
}
ul {
  display: flex;
  justify-content: center;
  color: black;
}
li {
  list-style: none;
  padding: 25px;
}

p {
  color: black;
}

.signup {
  position: absolute;
  left: 50px;
  width: 100px;
  background: none;
}
.signin {
  position: absolute;
  right: 50px;
  width: 100px;
  background: none;
}
.signin:hover {
  background-color: #468d4c;
  color: white;
}
.signup:hover {
  background-color: #468d4c;
  color: white;
}
