.main-div-2 {
  display: flex;
  flex-wrap: wrap;
}

.pcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 24%;
  border: solid 1px;
  border-color: rgb(0, 0, 0);
  margin-left: 10px;
  background-image: linear-gradient(30deg, #09010f69 20%, #471b046b 90%);
}
